@using TaskList.Models
@model IEnumerable<Task>

<table>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td style="font-family: arial, verdana">
                    @item.TaskDescription
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem=>@item.CompleteStatus, new {id = @item.TaskId, @class="ActiveCheck"})
                </td>
            </tr>
        }
    }
</table>

<div id="task_create">
    @using (Ajax.BeginForm("CreateNewTask", "TaskLists",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "tasks"
        }))
    {
        @Html.Editor("taskDescription")
        //var checkListId = !Model.Any() ? 0 : Model.ElementAt(0).CheckListId;
        @Html.Hidden("checkListId", (object) @ViewBag.CheckListId, new {@class="ListId"})
    }
</div>
<script src="~/CustomScripts/TaskStatusChangener.js"></script>

